@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <br />
        <form asp-controller="Teacher" asp-action="Logout">
            <button type="submit" class="btn btn-danger float-right">Log out</button>
        </form>

        <h2>Admin dashboard</h2>
        <hr />
        <div class="row">
            <div class="col-6">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Teacher mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <input type="password" class="form-control" name="name" placeholder="Teacher password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Add teacher</button>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Teacher mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i < 11; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>mail@@teacher.dk</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Student mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <input type="password" class="form-control" name="name" placeholder="Student password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Add student</button>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i < 11; i++)
                        {

                            <tr>
                                <td>@i</td>
                                <td>mail@@student.dk</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>