@model WebApplication.Models.HomeViewModels.StudentViewModel
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-6 mx-auto">
        <h2>Student login</h2>
        <hr />
        <form asp-controller="Home" asp-action="Student" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="token">Token</label>
                <input type="text" asp-for="Token" class="form-control" id="token" placeholder="Token from teacher">
            </div>
            <input type="hidden" value="" asp-for="Longitude" id="longitude" name="longitude" />
            <input type="hidden" value="" asp-for="Latitude" id="latitude" name="latitude" />
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        @{
        if (ViewData["Success"] != null)
        {
            <p class="text-success">
                @ViewData["Success"]
            </p>
    }

    <div id="mapholder"></div>
        }
    </div>
</div>

<script>
    var x = document.getElementById("longitude");
    var y = document.getElementById("latitude");
    function getLocation() {
        console.log("Method runned");
        if (navigator.geolocation) {
            console.log("Should set the location")
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Didnt set location")
        }
    }
    function showPosition(position) {
        x.value = position.coords.latitude;
        y.value = position.coords.longitude;
        var latlon = position.coords.latitude + "," + position.coords.longitude;
        var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&key=AIzaSyAs_8NLkMcbP1YXCBaLckts6XN0fYcJ6aY";
        document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
    }

    getLocation()
    
        
</script>
