@model WebApplication.Models.TeacherViewModels.IndexViewModel
@{
    ViewData["Title"] = "Teacher";
}

<div class="row">
    <div class="col-12">
        <br />
        <form asp-controller="Teacher" asp-action="Logout">
            <button type="submit" class="btn btn-danger float-right">Log out</button>
        </form>

        <h2>Teacher dashboard</h2>
        <hr />

        <form asp-controller="Teacher" asp-action="CreateClass">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" placeholder="Add new classroom..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Add Classroom</button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Class name</th>
                    <th scope="col">Tokens</th>
                    <th scope="col">Students</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var v in Model.ClassRooms.ToList())
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <th>@v.Name</th>
                            <th><a href="/teacher/token/@v.Id">Edit tokens</a></th>
                            <th><a href="/teacher/students/@v.Id">Edit students</a></th>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>