@page
@model AboutModel
@{
    ViewData["Title"] = "Teacher";
}
<div class="teacher-dash">
    <div class="row">

        <div class="col-4">
            <h3 style="padding-bottom: 10px;">
                My classes:
            </h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Classname" aria-label="Recipient's username" aria-describedby="basic-addon2" id="className">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="createClassBtn">Create</button>
                </div>
            </div>
            <div class="list-group" id="listGroupClass">

            </div>


        </div>


        <div class="col-4" id="tokenContainer" style="display: none">
            <h3 style="padding-bottom: 10px;">
                Class tokens:
            </h3>
            <button class="btn btn-outline-success w-100" type="button" id="createTokenBtn" style="margin-bottom: 1rem;">Generate new token</button>
            <div class="list-group" id="listGroupToken">
            </div>
        </div>




        <div class="col-4" id="studentContainer" style="display: none">
            <h3 style="padding-bottom: 10px;">
                Class students:
            </h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Student email" aria-label="Recipient's username" aria-describedby="basic-addon2" id="studentMail">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addStudentBtn">Add</button>
                </div>
            </div>
            <div class="list-group" id="listGroupStudents">

            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script>

        var lastClickedClassId = -1; 

        $(document).ready(function () {

            if (!getCookie("token")) {
                window.location.href = "/";
            }

            // Create token
            $(document).on("click", "#createTokenBtn", function () {

                var data = { classId: lastClickedClassId }; 
                var token = getCookie("token");
                token = 'Bearer ' + token;

                $.ajax({
                    url: "http://localhost:2265/api/tokens",
                    method: "POST",
                    dataType: 'json',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': token
                    },
                    data: JSON.stringify(data),
                    success: function (response) {
                        getTokens();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            });

            $(document).on("click", ".class-icon", function () {
                $(".list-group-item").removeClass("active");
                $(this).addClass("active");
                $("#tokenContainer").show();
                $("#studentContainer").show();
                lastClickedClassId = $(this).attr("id");
                console.log("LastId: " + lastClickedClassId)
                getStudents();
                getTokens(); 
            });

            $("#studentBtn").hide();
            getClasses();

            // Create new class
            $("#createClassBtn").click(function () {

                var name = $("#className").val();
                var data = { name: name };
                var token = getCookie("token");
                token = 'Bearer ' + token;

                if (!name) {
                    $("#className").focus()
                    return;
                }

                $.ajax({
                    url: "http://localhost:2265/api/classroom",
                    method: "POST",
                    dataType: 'json',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': token
                    },
                    data: JSON.stringify(data),
                    success: function (response) {
                        getClasses();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            // Add student to class by email
            $("#addStudentBtn").click(function () {

                var mail = $("#studentMail").val();
                var id = lastClickedClassId; 

                var data = { email: mail, classRoomId: id };
                var token = getCookie("token");
                token = 'Bearer ' + token;

                if (!mail) {
                    $("#studentMail").focus()
                    return;
                }

                $.ajax({
                    url: "http://localhost:2265/api/classroom/adduserbyemail",
                    method: "POST",
                    dataType: 'json',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': token
                    },
                    data: JSON.stringify(data),
                    success: function (response) {
                        getStudents();
                        console.log("SUCCESS!!")
                    },
                    error: function (error) {
                        console.log(error);
                        console.log("ERROR!!!")

                    }
                });
            });
        });

        function getClasses() {
            var token = getCookie("token");
            token = 'Bearer ' + token;

            $.ajax({
                url: "http://localhost:2265/api/classroom",
                method: "GET",
                dataType: 'json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': token
                },
                success: function (response) {

                    $("#listGroupClass").html("");
                    console.log(response);

                    $(response).each(function (index, element) {
                        $("#listGroupClass").append('<a href="#" class="list-group-item list-group-item-action class-icon" id="' + element.id + '">' + element.name + '</a>');
                    });

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function getStudents() {
            var token = getCookie("token");
            token = 'Bearer ' + token;

            var id = lastClickedClassId; 

            $.ajax({
                url: "http://localhost:2265/api/classroom/getstudentsforclass?classroomid=" + id,
                method: "GET",
                dataType: 'json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': token
                },
                success: function (response) {
                    $("#listGroupStudents").html("");
                    console.log(response);

                    $(response).each(function (index, element) {
                        $("#listGroupStudents").append('<a href="#" class="list-group-item list-group-item-action class-icon">' + element + '</a>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function getTokens() {
            $("#listGroupToken").html(" ");

            var token = getCookie("token");
            token = 'Bearer ' + token;

            var id = lastClickedClassId;

            $.ajax({
                url: "http://localhost:2265/api/tokens/" + id,
                method: "GET",
                dataType: 'json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': token
                },
                success: function (response) {
                   
                    console.log("IT SHOULD CLEAR THE TOKEN GROUP NOW!!!");
                    $(response).each(function (index, element) {
                        $("#listGroupToken").append('<a href="#" class="list-group-item list-group-item-action"> <b>Token: </b> ' + element.tokenValue + ', ' + element.createdDateTime +'</a>');
                    });

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>
}